export RAUC_KEY_FILE=/mnt/services/@gadget_secrets/signing.key.pem
export RAUC_CERT_FILE=/mnt/services/@gadget_secrets/signing.crt
export RAUC_KEYRING_FILE=/mnt/services/@gadget_secrets/signing.crt
. ./.venv/bin/activate
