export RAUC_KEY_FILE=/mnt/services/@gadget_secrets/signing.key.pem
export RAUC_CERT_FILE=/mnt/services/@gadget_secrets/signing.crt
export RAUC_KEYRING_FILE=/mnt/services/@gadget_secrets/signing.crt
. ./.venv/bin/activate

BITBAKE_VERSION=2025-10.1-whinlatter
if [[ ! -d layers/bitbake ]]; then
  git clone --revision=refs/tags/${BITBAKE_VERSION} https://git.openembedded.org/bitbake layers/bitbake
fi
