/.venv/
/build/
/certificates/
/linux/
/layers/bitbake/
/layers/meta-cyclonedx/
/layers/meta-openembedded/
/layers/meta-rauc/
/layers/meta-yocto/
/layers/openembedded-core/

config.yaml
reboot.sh
email-data/
