attrs==24.2.0
cffi==1.17.1
distro==1.9.0
fast-zip-decryption==3.0.0
gitdb==4.0.11
GitPython==3.1.43
indexed_gzip==1.9.4
indexed_zstd==1.6.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kas==4.6
kconfiglib==14.1.0
libarchive-c==5.1
pycparser==2.22
pygit2==1.16.0
python-xz==0.4.0
PyYAML==6.0.2
rapidgzip==0.14.3
rarfile==4.2
ratarmount==1.0.0
ratarmountcore==0.8.0
referencing==0.35.1
rpds-py==0.21.0
smmap==5.0.1
