[Unit]
Description=Backup Controller
After=postfix.service
Requires=postfix.service

[Service]
ExecStart=/usr/bin/backup-controller
Environment=RUST_LOG=info
Environment=MAILTO=et@ethantwardy.com

[Install]
WantedBy=multi-user.target
